@keyframes animacao-box{
    from {
        background-image: url("../img/escudo-flamengo-1.png");
        background-color: rgb(255, 0, 0);
        border-radius: 100px;
        top: 0;
        left: 0;
    }
    to{
        background-image: url(../img/escudo-flamengo-2.png);
        background-color: rgb(0, 0, 0);
        border-radius: 200px;
        top: 200px;
        left: 200px;
       
    }
}

#box-animacao{ 
    width: 400px;
    height: 400px;
    position: relative;
    animation-name: animacao-box;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 50;
    animation-direction:alternate ;
    background-color: blue;
    
    background-position: center;
    object-fit: cover;
}


