*{ 
    padding: 0;
    margin: 0;
}

body{ 
    background-color: aqua;
    padding: 10px;
}

#conteudo-principal{ 
    background-color: white;
    padding: 10px;
    width: 500px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 2500px;
}

.caixa{ 
    background-color: chartreuse;
    width: 100px;
    height: 100px;
    color: white;
}

#relativo{ 
    position: relative;
    left: -30px;
    width: 660px;
    top: 0;
    background-color: red;
}

#absoluto{ 
    position: absolute; 
    bottom: 0;
    right: 30px;
}
#fixed{ 
    position: fixed;
   
    left: 0;
    width: 100%;
}