html, body{ 
    width: 100px;
    height: 100px;
    background-color: red;
}

.wrapper{ 
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    font-size: 50px;
    grid-gap: 35px;
    text-align: center;
}
.box{ 
    border-radius: 22px;
    background-color: #000;
    color:rgb(255, 255, 255);
    padding: 20px;
}