* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .container {
    width: 100%;
    height: 100%;
    max-width: 1400px;
}

.container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 300px;
    border: 1px solid black;
    width: 800px;
    height: 450px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5em;
    max-width: 800px;
    width: 100%;
    height: 80px;
    background-color: black;
}

a {
    text-decoration: none;
    color:  rgb(255, 255, 255);
}

.navbar {
    width: 100%;
    background-color: #ff0000;
}

.navbar li {
    background-color: #000000;
    padding: 0.3em; 
    border-right: 1px solid white;
    
}
.navbar a{ 
    color: red;
}

.navbar ul{
    display: flex;
    
}

p {
    text-indent: 30px;
    font-size: 125%;
    color: rgb(255, 255, 255);
}

.comentario{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.comentario li {
    margin: 0 1em;
}

.menu a, .comentario a {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 522px;
    background: rgb(244,0,0);
background: linear-gradient(0deg, rgba(244,0,0,1) 24%, rgba(0,0,0,1) 69%);

}

.flex {
    display: flex;

}

h2 {
    color: red;
}

h3 {
    color: red;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #878940;
    padding: 5px;
}

.content {
    text-align: justify;
    margin-top: 25px;
    width: 800px;
    margin: 1rem;
}

.menu {
    border-left: 1px solid #ff0000;
    width: 250px;
    margin: 1rem;
    padding: 30px;  
}

.footer {
    width: 100%;
    height: 25px;
    font-size: 12px;
    text-align: right;
    background-color: #000000;
    color: #ff0000;

}
body{ 
    background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 16%, rgba(0,0,0,1) 78%);
}
h1{ 
    color: red;
}
.skipmenu a{ 
    color: red;
}