a{ 
    text-decoration: none;
    padding: 5px;
}

a:link{ 
    color: orange;
}

a:visited{ 
    color: red;
}

a:hover{ 
    color: blueviolet;
    background-color: chocolate;
}

a:active{ 
    color: aqua;
}
