*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    display:grid;
    grid-template-areas:
    "header header header"
    " main main aside"
    "footer footer footer";
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 447px 100px;
    background-color: black;
}
.o-header{ 
    grid-area:header ;
}
.o-aside{ 
    grid-area: aside;
}
.o-main{ 
    grid-area: main;
}
.o-footer{ 
    grid-area: footer;
}
.o-header, .o-aside, .o-main, .o-footer{ 
    background-color: #a67db1;
    color: white;
}
h1{ 

}