#box-transicao{ 
    width: 50%;
    height: 300px;
    background-color: green;
    background-image: url("../img/flamengo.webp");
    background-position: center;
    
}

#box-transicao:hover{ 
    background-color: blue;
    width: 100%;
    transition: all 5s;
}